<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Targets.Http" />
  </extensions>
  
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="file.txt" />
    <target name="logmsg" xsi:type="MessageBox"
            caption="${level} Message (${shortdate})"
            layout="${message}" />
    <target name="logapi" xsi:type="HTTP"
            URL="http://localhost:5112/log"
            ContentType="application/json">
      <layout type="JsonLayout">
        <attribute name="sourcetype" layout="_json" />
        <attribute name="host" layout="${machinename}" />
        <attribute name="event" encode="false">
          <layout type="JsonLayout">
            <attribute name="level" layout="${level:upperCase=true}" />
            <attribute name="source" layout="${logger}" />
            <attribute name="thread" layout="${threadid}" />
            <attribute name="message" layout="${message:withexception=true}" />
            <attribute name="utc" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
          </layout>
        </attribute>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="logmsg" />
    <logger name="*" minlevel="Error" writeTo="logapi" />
  </rules>
</nlog>
