<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 
    <targets>
        <target name="file" xsi:type="File"
            layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=ToString}${newline}" 
            fileName="${basedir}/logs/AppLog.txt" 
            maxArchiveFiles="10"
            archiveAboveSize="10240"
            archiveFileName="${basedir}/logs/archive/AppLog.{####}.txt"
            archiveNumbering="Sequence"
            encoding="utf-8" />
    </targets>
 
    <rules>
        <logger name="app_logger" minlevel="Trace" writeTo="file" />
    </rules>
</nlog>